.section-heading-wide {
    position: relative;
    text-align: center;
    margin: 45px 0 25px;
    &:after {
        content: "";
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        position: absolute;
        background-color: #CFDAE3;
    }
    h2 {
        margin: 0;
        padding: 0 20px;
        position: relative;
        display: inline-block;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        background-color: #fff;
        z-index: 2;
    }
}
