// =============================================================================
// TYPE (CSS)
// =============================================================================

// Stencil type component additions
// -----------------------------------------------------------------------------


body {
    font-size: $body-fontSize;
    font-weight: $body-font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $header-font-weight;
    margin-top: $heading-marginTop;
}

h5,
h6 {
    text-transform: $heading-textTransform;
}

a {
    transition: $anchor-transition;
}

cite {
    line-height: $blockquote-cite-lineHeight;
    margin: $blockquote-cite-margin;
}

.page-heading {
    background-color: transparent;
    margin: 0 auto 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CFDAE3;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    line-height: 38.832px;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

.definitionList {
    @include clearfix;
}

.definitionList-key {
    color: stencilColor("color-textSecondary");
    float: left;
    font-weight: fontWeight("normal");
    margin: 0 spacing("quarter") 0 0;
}

.definitionList-value {
    margin: 0;
}
