<div class="finacing-bar affirm-financing">
    <h3>Finance your purchase with 
        <a class="affirm-site-modal" data-page-type="banner" style="cursor: pointer;">
            <img src="https://cdn-assets.affirm.com/images/blue_logo-transparent_bg.png">
        </a>
    </h3>
</div>