{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="column">
            <div class="social footer-column">
                <h4>Social Media</h4>
                <a href="https://www.facebook.com/thewheellab/"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/wheel_lab/?hl=en"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="column">
            <div class="footer-column">
                <h4>Store</h4>
                <ul>
                    <li><a href="/wheels/" title="">Wheels</a></li>
                    <li><a href="/suspension" title="">Suspension</a></li>
                    <li><a href="/product-category/wheel-care/" title="">Wheel Care</a></li>
                    <li><a href="/account.php" title="">My Account</a></li>
                    <li><a href="/cart.php" title="">Cart</a></li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="footer-column">
                <h4>Website</h4>
                <ul>
                    <li><a href="/terms-conditions/" title="">Terms &amp; Conditions</a></li>
                    <li><a href="/privacy-policy/" title="">Privacy Policy</a></li>
                    <li><a href="/blog/" title="">Blog</a></li>
                    <li><a href="/about-us/" title="">About Us</a></li>
                    <li><a href="/contact-us/" title="">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="footer-column">
                <h4>Contact Us</h4>
                <ul>
                    <li>Wheel Lab</li>
                    <li><a href="tel:978-219-9060">978-219-9060</a></li>
                    <li><a href="mailto:sales@wheellab.us">sales@wheellab.us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="disclaimer">
                <div class="footer-copyright">
                    <p class="powered-by">&copy; {{moment format="YYYY"}} Wheel Lab LLC </p>
                </div>
        </div>
    </div>

    {{#if theme_settings.show_drift_chat}}
        {{> components/common/drift}}
    {{/if}}
</footer>
