<nav class="navPages">
    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        <li class="navPages-item navPages-item-page">
            <a class="navPages-action" href="/wheels">Wheels</a>
        </li>
        <li class="navPages-item navPages-item-page">
            <a class="navPages-action" href="/suspension">Suspension</a>
        </li>
        <li class="navPages-item navPages-item-page">
            <a class="navPages-action" href="/wheel-care">Wheel Care</a>
        </li>
        <li class="navPages-item">
            <a class="navPages-action has-subMenu" href="{{urls.account.index}}" data-collapsible="navPages-account">
                Contact Us
                <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
            </a>
            <div class="navPage-subMenu" id="navPages-account" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/contact-us">Contact Us</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/about-us">About Us</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/garage">Wheel Lab Garage</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/sponsorships">Sponorships</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/booth-cars">Booth Cars</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navPages-item navPages-item-page">
            <a class="navPages-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a>
        </li>
        <li class="navPages-item navPages-item-page">
            <a class="navPages-action" href="/cart.php">Cart</a>
        </li>
    </ul>
</nav>
