// =============================================================================
// BUTTONS (CSS)
// =============================================================================

.button {
    margin-top: 15px;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border: none;
    background: #47BFE4;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 0;
    padding: 10px 13px;
    text-align: center;
    &:hover {
        color: #292C2E;
        background-color: #a6a6a6;
    }

    + .button {
        margin-left: 0;

        @include breakpoint("medium") {
            margin-left: spacing("half");
        }
    }
}

.button[disabled] {
    cursor: not-allowed;
}

.button--icon {

    svg {
        fill: stencilColor("button--icon-svg-color");
    }
}
