{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">

    <h1 class="page-heading">Booth Cars</h1>

    <div class="page-content page-content">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}
        <h3 class="form-response"></h3>
        <form class="form wheellab-form" id="boothcars" action="#" method="post">
            <input type="hidden" name="form_type" id="form_type" value="boothcars">
            <div class="form-row form-row--half">
                <div class="form-field">
                    <label class="form-label" for="first_name">First Name
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="first_name" name="first_name" value="" required>
                </div>
                <div class="form-field">
                    <label class="form-label" for="last_name">Last Name
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="last_name" name="last_name" value="" required>
                </div>
                <div class="form-field">
                    <label class="form-label" for="email">Email Address
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="email" name="email" value="" required>
                    <span style="display: none;"></span>
                </div>
                <div class="form-field">
                    <label class="form-label" for="phone">Phone Number
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="phone" name="phone" value="" required>
                </div>
                <div class="form-field">
                    <label class="form-label" for="instagram">Instagram</label>
                    <input class="form-input" type="text" id="instagram" name="instagram" value="">
                    <span style="display: none;"></span>
                </div>
                <div class="form-field">
                    <label class="form-label" for="car">Year/Make/Model of Car
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="car" name="car" value="" required>
                </div>
                <div class="form-field">
                    <label class="form-label" for="wheels">Wheels
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="wheels" name="wheels" value="" placeholder="Brand, face, finish, cast or forged, etc." required>
                </div>
                <div class="form-field">
                    <label class="form-label" for="which_sponsorship_type">Select Suspension Type
                        <small>Required</small>
                    </label>
                    <input type="checkbox" name="which_sponsorship_type" value="Air Suspension"> Air Suspension<br />
                    <input type="checkbox" name="which_sponsorship_type" value="Sport Springs"> Sport Springs<br />
                    <input type="checkbox" name="which_sponsorship_type" value="Coilovers"> Coilovers<br />
                </div>
                <div class="form-field">
                    <label class="form-label" for="which_car_show">Which of the following East Coast shows do you plan on attending?
                        <small>Required</small>
                    </label>
                    <input type="checkbox" name="which_car_show" value="UConn Car Show (CT)"> UConn Car Show (CT)<br />
                    <input type="checkbox" name="which_car_show" value="UMass Car Show (MA)"> UMass Car Show (MA)<br />
                    <input type="checkbox" name="which_car_show" value="Broke.East"> Broke.East<br />
                    <input type="checkbox" name="which_car_show" value="Eurokracy (QC)"> Eurokracy (QC)<br />
                    <input type="checkbox" name="which_car_show" value="Honda Fest (CT)"> Honda Fest (CT)<br />
                    <input type="checkbox" name="which_car_show" value="Waterfest (NJ)"> Waterfest (NJ)<br />
                    <input type="checkbox" name="which_car_show" value="Volksbahn (NH)"> Volksbahn (NH)<br />
                    <input type="checkbox" name="which_car_show" value="Eurobuilt (VT)"> Eurobuilt (VT)<br />
                    <input type="checkbox" name="which_car_show" value="First Class Fitment (NJ)"> First Class Fitment (NJ)<br />
                    <input type="checkbox" name="which_car_show" value="New England Dustoff (CT)"> New England Dustoff (CT)<br />
                    <input type="checkbox" name="which_car_show" value="Import Face Off (NH)"> Import Face Off (NH)<br />
                    <input type="checkbox" name="which_car_show" value="Formula Drift (NJ)"> Formula Drift (NJ)<br />
                    <input type="checkbox" name="which_car_show" value="Wicked Big Meet (CT)"> Wicked Big Meet (CT)<br />
                    <input type="checkbox" name="which_car_show" value="Forever Slammed"> Forever Slammed<br />
                    <input type="checkbox" name="which_car_show" value="Wolfsgart (VT)"> Wolfsgart (VT)<br />
                    <input type="checkbox" name="which_car_show" value="Stancewars (NJ)"> Stancewars (NJ)<br />
                    <input type="checkbox" name="which_car_show" value="2O International (MD)"> 2O International (MD)<br />
                    <br />
                    <p>We will not be vending at all of these, but we are taking this opportunity to also gauge interest and figure out which shows to vend at in years to come.</p>
                </div>
            </div>
            <div class="form-field">
                <label class="form-label" for="other_shows_not_listed">Other Shows Not Listed Above:
                    <small>Required</small>
                </label>
                <textarea name="other_shows_not_listed" id="other_shows_not_listed" rows="5" cols="50" class="form-input" required></textarea>
                <span style="display: none;"></span>
            </div>
            <div class="form-field">
                <input type="checkbox" name="newsletter" value="agree" checked> I would like to receive occassional emails from Wheel Lab LLC (we don't believe in spamming our customers).
            </div>
            <div class="form-field">
                <div class="g-recaptcha" data-sitekey="6Le10IgUAAAAACgr6uKOIgzzpbAnl1hMYrrWJ_lJ"></div>
            </div>
        
            <div class="form-actions">
                <input class="button button--primary" type="submit" value="Submit Form">
            </div>
        </form>
    </div>
</main>

{{/partial}}

{{> layout/base}}
