{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">

    <h1 class="page-heading">Contact Us</h1>

    <div class="page-content page-content">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}
        <h3 class="form-response"></h3>
        <form class="form wheellab-form" id="contact" action="#" method="post">
            <input type="hidden" name="form_type" id="form_type" value="contact">
            <div class="form-row form-row--half">
                <div class="form-field">
                    <label class="form-label" for="first_name">First Name
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="first_name" name="first_name" value="" required>
                </div>
                <div class="form-field">
                    <label class="form-label" for="last_name">Last Name
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="last_name" name="last_name" value="" required>
                </div>
                <div class="form-field">
                    <label class="form-label" for="email">Email Address
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="email" name="email" value="" required>
                    <span style="display: none;"></span>
                </div>
                <div class="form-field">
                    <label class="form-label" for="phone">Phone Number
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="phone" name="phone" value="" required>
                </div>
            </div> 
            <div class="form-field">
                <label class="form-label" for="message">Comments/Questions
                    <small>Required</small>
                </label>
                <textarea name="message" id="message" rows="5" cols="50" class="form-input" required></textarea>
                <span style="display: none;"></span>
            </div>
            <div class="form-field">
                <input type="checkbox" name="newsletter" value="agree" checked> I would like to receive occassional emails from Wheel Lab LLC (we don't believe in spamming our customers).
            </div>
            <div class="form-field">
                <div class="g-recaptcha" data-sitekey="6Le10IgUAAAAACgr6uKOIgzzpbAnl1hMYrrWJ_lJ"></div>
            </div>
        
            <div class="form-actions">
                <input class="button button--primary" type="submit" value="Submit Form">
            </div>
        </form>
    </div>
</main>

{{/partial}}

{{> layout/base}}
