{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">

    <h1 class="page-heading">Sponsorships</h1>

    <div class="page-content page-content">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}
        <h3 class="form-response"></h3>
        <form class="form wheellab-form" id="sponsorship" action="#" method="post">
            <input type="hidden" name="form_type" id="form_type" value="sponsorship">
            <div class="form-row form-row--half">
                <div class="form-field">
                    <label class="form-label" for="first_name">First Name
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="first_name" name="first_name" value="" required>
                </div>
                <div class="form-field">
                    <label class="form-label" for="last_name">Last Name
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="last_name" name="last_name" value="" required>
                </div>
                <div class="form-field">
                    <label class="form-label" for="email">Email Address
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="email" name="email" value="" required>
                    <span style="display: none;"></span>
                </div>
                <div class="form-field">
                    <label class="form-label" for="phone">Phone Number
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="phone" name="phone" value="" required>
                </div>
                <div class="form-field">
                    <label class="form-label" for="location">Location
                        <small>Required</small>
                    </label>
                    <select name="location" id="location">
                        <option value="Alabama">Alabama</option>
                        <option value="Alaska">Alaska</option>
                        <option value="Arizona">Arizona</option>
                        <option value="Arkansas">Arkansas</option>
                        <option value="California">California</option>
                        <option value="Colorado">Colorado</option>
                        <option value="Connecticut">Connecticut</option>
                        <option value="Delaware">Delaware</option>
                        <option value="District of Columbia">District of Columbia</option>
                        <option value="Florida">Florida</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Hawaii">Hawaii</option>
                        <option value="Idaho">Idaho</option>
                        <option value="Illinois">Illinois</option>
                        <option value="Indiana">Indiana</option>
                        <option value="Iowa">Iowa</option>
                        <option value="Kansas">Kansas</option>
                        <option value="Kentucky">Kentucky</option>
                        <option value="Louisiana">Louisiana</option>
                        <option value="Maine">Maine</option>
                        <option value="Maryland">Maryland</option>
                        <option value="Massachusetts">Massachusetts</option>
                        <option value="Michigan">Michigan</option>
                        <option value="Minnesota">Minnesota</option>
                        <option value="Mississippi">Mississippi</option>
                        <option value="Missouri">Missouri</option>
                        <option value="Montana">Montana</option>
                        <option value="Nebraska">Nebraska</option>
                        <option value="Nevada">Nevada</option>
                        <option value="New Hampshire">New Hampshire</option>
                        <option value="New Jersey">New Jersey</option>
                        <option value="New Mexico">New Mexico</option>
                        <option value="New York">New York</option>
                        <option value="North Carolina">North Carolina</option>
                        <option value="North Dakota">North Dakota</option>
                        <option value="Ohio">Ohio</option>
                        <option value="Oklahoma">Oklahoma</option>
                        <option value="Oregon">Oregon</option>
                        <option value="Pennsylvania">Pennsylvania</option>
                        <option value="Rhode Island">Rhode Island</option>
                        <option value="South Carolina">South Carolina</option>
                        <option value="South Dakota">South Dakota</option>
                        <option value="Tennessee">Tennessee</option>
                        <option value="Texas">Texas</option>
                        <option value="Utah">Utah</option>
                        <option value="Vermont">Vermont</option>
                        <option value="Virginia">Virginia</option>
                        <option value="Washington">Washington</option>
                        <option value="West Virginia">West Virginia</option>
                        <option value="Wisconsin">Wisconsin</option>
                        <option value="Wyoming">Wyoming</option>
                        <option value="Armed Forces Americas">Armed Forces Americas</option>
                        <option value="Armed Forces Europe">Armed Forces Europe</option>
                        <option value="Armed Forces Pacific">Armed Forces Pacific</option>
                    </select>
                </div>
                <div class="form-field">
                    <label class="form-label" for="instagram">Instagram</label>
                    <input class="form-input" type="text" id="instagram" name="instagram" value="">
                    <span style="display: none;"></span>
                </div>
                <div class="form-field">
                    <label class="form-label" for="car">Year/Make/Model of Car
                        <small>Required</small>
                    </label>
                    <input class="form-input" type="text" id="car" name="car" value="" required>
                </div>
                <div class="form-field">
                    <label class="form-label" for="which_sponsorship">Which of the following suspension types are you interested in?
                        <small>Required</small>
                    </label>
                    <input type="checkbox" name="which_sponsorship" value="Air Suspension"> Air Suspension<br />
                    <input type="checkbox" name="which_sponsorship" value="Sport Springs"> Sport Springs<br />
                    <input type="checkbox" name="which_sponsorship" value="Coilovers"> Coilovers<br />
                </div>
                <div class="form-field">
                    <label class="form-label" for="which_brand">Which of the following wheel brands are you interested in?
                        <small>Required</small>
                    </label>
                    <input type="checkbox" name="which_brand" value="Avant Garde (AG)"> Avant Garde (AG)<br />
                    <input type="checkbox" name="which_brand" value="Fifteen52"> Fifteen52<br />
                    <input type="checkbox" name="which_brand" value="Fuel"> Fuel<br />
                    <input type="checkbox" name="which_brand" value="HRE"> HRE<br />
                    <input type="checkbox" name="which_brand" value="Niche"> Niche<br />
                    <input type="checkbox" name="which_brand" value="Rotiform"> Rotiform<br />
                    <input type="checkbox" name="which_brand" value="SSR"> SSR<br />
                    <input type="checkbox" name="which_brand" value="VMR"> VMR<br />
                    <input type="checkbox" name="which_brand" value="Work Wheels"> Work Wheels<br />
                    <input type="checkbox" name="which_brand" value="Cast13"> Cast13<br />
                    <input type="checkbox" name="which_brand" value="Gram Lights"> Gram Lights<br />
                    <input type="checkbox" name="which_brand" value="Forgestar"> Forgestar<br />
                    <input type="checkbox" name="which_brand" value="Messer"> Messer<br />
                    <input type="checkbox" name="which_brand" value="Radi8"> Radi8<br />
                    <input type="checkbox" name="which_brand" value="SevenK"> SevenK<br />
                    <input type="checkbox" name="which_brand" value="VIP Modular"> VIP Modular<br />
                    <input type="checkbox" name="which_brand" value="Vorsteiner"> Vorsteiner<br />
                    <br />
                    <p>We will not be vending at all of these, but we are taking this opportunity to also gauge interest and figure out which shows to vend at in years to come.</p>
                </div>
            </div>
            <div class="form-field">
                <label class="form-label" for="explain_why_you_deserve_sponsorship">Please explain why you deserve a sponsorship:
                    <small>Required</small>
                </label>
                <textarea name="explain_why_you_deserve_sponsorship" id="explain_why_you_deserve_sponsorship" rows="5" cols="50" class="form-input" required></textarea>
                <span style="display: none;"></span>
            </div>
            <div class="form-field">
                <label class="form-label" for="what_makes_you_stand_out">What makes you stand out from the crowd?
                    <small>Required</small>
                </label>
                <textarea name="what_makes_you_stand_out" id="what_makes_you_stand_out" rows="5" cols="50" class="form-input" required></textarea>
                <span style="display: none;"></span>
            </div>
            <div class="form-field">
                <label class="form-label" for="help_us_get_to_know_you">Help us get to know you a little bit better:
                    <small>Required</small>
                </label>
                <textarea name="help_us_get_to_know_you" id="help_us_get_to_know_you" rows="5" cols="50" class="form-input" required></textarea>
                <span style="display: none;"></span>
            </div>
            <div class="form-field">
                <label class="form-label" for="how_will_you_repersent">How will you represent Wheel Lab and help to expand our business in your region?
                    <small>Required</small>
                </label>
                <textarea name="how_will_you_repersent" id="how_will_you_repersent" rows="5" cols="50" class="form-input" required></textarea>
                <span style="display: none;"></span>
            </div>
            <div class="form-field">
                <label class="form-label" for="what_modifications">What modifications have you already made to your vehicle and what others do you plan on making in the future?
                    <small>Required</small>
                </label>
                <textarea name="what_modifications" id="what_modifications" rows="5" cols="50" class="form-input" required></textarea>
                <span style="display: none;"></span>
            </div>
            <div class="form-row form-row--half">
                <div class="form-field">
                    <label class="form-label" for="t_shirt_size">T-Shirt Size
                        <small>Required</small>
                    </label>
                    <select name="t_shirt_size" id="t_shirt_size">
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="Large">Large</option>
                        <option value="Extra Large">Extra Large</option>
                        <option value="2X Large">2X Large</option>
                    </select>
                </div>
                <div class="form-field">
                    <label class="form-label" for="sticker_color">Sticker Color
                        <small>Required</small>
                    </label>
                    <select name="sticker_color" id="sticker_color">
                        <option value="Black">Black</option>
                        <option value="Etched Glass">Etched Glass</option>
                        <option value="Oil Stick (Chrome-Rainbow)">Oil Stick (Chrome-Rainbow)</option>
                        <option value="Royal Blue">Royal Blue</option>
                        <option value="Teal">Teal</option>
                        <option value="White">White</option>
                    </select>
                </div>
            </div>
            <div class="form-field">
                <input type="checkbox" name="newsletter" value="agree" checked> I would like to receive occassional emails from Wheel Lab LLC (we don't believe in spamming our customers).
            </div>
            <div class="form-field">
                <div class="g-recaptcha" data-sitekey="6Le10IgUAAAAACgr6uKOIgzzpbAnl1hMYrrWJ_lJ"></div>
            </div>
        
            <div class="form-actions">
                <input class="button button--primary" type="submit" value="Submit Form">
            </div>
        </form>
    </div>
</main>

{{/partial}}

{{> layout/base}}
