{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">

    <h1 class="page-heading">Wheels</h1>

    <div class="row product-categories three">
        <div>
            <a href="/product-category/wheels/cast-mono/" data-title="Wheels Ready To Ship" style="background-image: url('https://s3.amazonaws.com/wheellab-images/assets/landing-pages/wheels/Wheels_Ready_Ship.jpg');" class="cta" onclick="site_wide.trackEvents('Wheels Landing Pages', 'Clicked', 'Wheels Ready to Ship');"></a>
        </div>
        <div>
            <a href="/product-category/wheels/forged-multi/" data-title="Wheels Custom Order" style="background-image: url('https://s3.amazonaws.com/wheellab-images/assets/landing-pages/wheels/Wheels_Custom_Order.jpg');" class="cta" onclick="site_wide.trackEvents('Wheels Landing Pages', 'Clicked', 'Wheels Custom Order');"></a>
        </div>
        <div>
            <a href="/product-category/wheels/" data-title="All Wheels" style="background-image: url('https://s3.amazonaws.com/wheellab-images/assets/landing-pages/wheels/Wheels_All.jpg');" class="cta" onclick="site_wide.trackEvents('Wheels Landing Pages', 'Clicked', 'All Wheels');"></a>
        </div>
    </div>

    <div class="row product-categories three">
        <div>
            <a href="/product-category/wheels/blowout-deals/" data-title="Blowout Deals" style="background-image: url('https://s3.amazonaws.com/wheellab-images/assets/landing-pages/wheels/Wheels_Blowout_Deals.jpg');" class="cta" onclick="site_wide.trackEvents('Wheels Landing Pages', 'Clicked', 'Blowout Deals');"></a>
        </div>
        <div>
            <a href="/product-category/center-caps/" data-title="Center Caps" style="background-image: url('https://s3.amazonaws.com/wheellab-images/assets/landing-pages/wheels/Caps.jpg');" class="cta" onclick="site_wide.trackEvents('Wheels Landing Pages', 'Clicked', 'Center Caps');"></a>
        </div>
        <div>
            <a href="/product-category/accessories/" data-title="Accessories/Lugs" style="background-image: url('https://s3.amazonaws.com/wheellab-images/assets/landing-pages/wheels/Lugs_Accessories.jpg');" class="cta" onclick="site_wide.trackEvents('Wheels Landing Pages', 'Clicked', 'Accessories/Lugs');"></a>
        </div>
    </div>

    <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}
    </div>
</main>

{{/partial}}

{{> layout/base}}
