.product-categories {
    margin-bottom: 30px;
    @include breakpoint("medium") {
        &.three {
            div {
                width: calc(33.33% - 3px);
            }
        }
        &.four {
            div {
                width: calc(25% - 3px);
            }
        }
    }
    div {
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
        @include breakpoint("medium") {
            display: inline-block;
            padding-right: 20px;
            &:last-of-type {
                padding-right: 0;
            }
        }
        .cta {
            height: 30vh;
            width: 100%;
            background-size: cover;
            display: block;
            margin: 0 auto;
            background-position: center center;
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
            filter: grayscale(75%);
            -moz-filter: grayscale(75%);
            -ms-filter: grayscale(75%);
            -o-filter: grayscale(75%);
            filter: gray; /* IE6-9 */
            -webkit-filter: grayscale(75%);
            position: relative;
            @media screen and (min-width: 1300px) {
                height: 230px;
            }
            &:before {
                content: attr(data-title);
                color: #FFF;
                text-align: center;
                width: 100%;
                display: block;
                text-transform: uppercase;
                font-size: 18px;
                @media screen and (min-width: 768px) {
                    background: rgba(10,15,19, .8);
                    padding: 3px 0;
                }
                @media screen and (max-width: 768px) {
                    position: absolute;
                    font-size: 28px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    text-shadow: 1px 1px grey;
                }
            }
            &:hover {
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
                filter: grayscale(0);
                -moz-filter: grayscale(0);
                -ms-filter: grayscale(0);
                -o-filter: grayscale(0);
                filter: gray; /* IE6-9 */
                -webkit-filter: grayscale(0);
                text-decoration: none;
            }
        }
    }
}
