// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background-color: $footer-background;
    border-top: container("border");
    padding: 30px 0;
    font-size: 12px;
    margin-top: 25px;
    color: #B8B8B8;
    .container {
        .column {
            display: inline-block;
            width: calc(50% - 3px);
            vertical-align: top;
            margin-bottom: 25px;
            @include breakpoint("medium") {
                width: calc(25% - 3px);
                margin-bottom: 0;
            }
            .footer-column {
                h4 {
                    color: #B8B8B8;
                    font-weight: bold;
                    font-size: 22px;
                    margin: 0 0 8px 0;
                }
                a {
                    color: #B8B8B8;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        color: #B8B8B8;
                        font-size: 16px;
                        a {
                            color: #B8B8B8;
                            font-size: 16px;
                            text-decoration: none;
                        }
                    }
                }
                &.social {
                    a {
                        color: #B8B8B8;
                        display: inline;
                        font-size: 35px;
                        margin-right: 15px;
                    }
                }    
            }
        }
    }
    .disclaimer {
        margin-top: 20px;
        p {
            margin: 0;
            a {
                color: #B8B8B8;
            }
        }
    }
}
