.finacing-bar {
    background: #F0F0F0;
    color: #666;
    text-align: center;
    padding: 12px 0;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #666;
    margin-top: 23px;
    @include breakpoint("medium") {
        margin-top: 0;
    }
    h3 {
        margin: 5px 0 0 0;
        font-size: 16px !important;
        text-transform: uppercase;
        font-weight: bold;
        a {
            img {
                width: 100%;
                max-width: 70px;
                display: inline-block;
                vertical-align: top;
                top: -4px;
                position: relative;
            }
        }
    }
}
